# 编译产物
1
2
*.o
*.a
*.so
*.dll
*.exe
*.pyc
*.class
build/
dist/
target/
out/
CMakeFiles/
cmake-build-debug
CMakeCache.txt
cmake_install.cmake
bin/
obj/

# IDE 配置文件
.idea/
#.vscode/
*.sublime-project
*.config

# 临时文件
.cache/

.venv/

node_modules

# Added by cargo
/target

docker

# config
.vscode

# 重新生成的文件
compile_commands.json
Makefile
