# 编译产物
1
2
*.o
*.a
*.so
*.dll
*.exe
*.pyc
*.class
build/
dist/
target/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE 配置文件
.idea/
#.vscode/
*.sublime-project
*.config

# 临时文件
.cache/

.venv/